/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* homepage */

.homepage {
  background-image: url("../img/bg/h_img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
}

.intro {
  padding-top: 8em;
  text-transform: uppercase;
}

.intro h1 {
  font-size: 3em;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.1em;
}

.mouse_click {
  padding-top: 100px;
}

/* about us */
.about_us h2 {
  text-transform: uppercase;
  font-weight: 500;
}

/* services */

.services {
  background-image: url("../img/bg/s_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.services h2 {
  font-weight: 600;
  text-transform: uppercase;
}

.service_text {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* what we do */
.what_we_do h2 {
  font-weight: 600;
  text-transform: uppercase;
}

.what_we_do h3 {
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 2px;
    font-weight: 600;
}
.what_we_do img {
    height: 70px;
}

#p-design, #p-development, #p-product {
    display: none;
}
/* media queries */
@media (max-width: 768px) {
  .intro h1 {
    font-size: 2em;
  }
  .mouse_click {
    padding-top: 80px;
  }
}
